name: Build and deploy

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        name: Checkout sources

      - uses: ruby/setup-ruby@v1
        name: Set up Ruby
        with:
          ruby-version: "3.3.0"

      - run: make upgrade install
        name: Set up build dependencies

      - run: make build
        name: Build sources

      - name: adding zip file
        run: |
          mkdir _site/source
          cp sample-app/hello-world.zip _site/source/hello-world.zip
          cp sample-app/devsecops.zip _site/source/devsecops.zip
          
      - uses: azure/CLI@v1
        name: Deploy
        with:
          azcliversion: 2.53.0
          inlineScript: |
            az config set extension.use_dynamic_install=yes_without_prompt

            az storage azcopy blob sync \
              --container "\$web" \
              --source "_site" \
              --connection-string "${{ secrets.CONNECTION_STRING }}"
